.back {
    background-color: yellow;

}

.header {
    width: 40%;
    height: 930px;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    float: left;
    background-color: #f1f2f6;
    text-align: center;


}

.header img {
    display: block;
    height: 570px;
    width: 82%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 100%;

}

.resumo {
    width: 90%;
    /* background-color: #f1f2f6; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-bottom-style: double; */
    /* border-bottom-color: pink; */
    border-left-style: double;
    border-left-color: pink;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.resumo p{
    color: #2f3542;
    font-size: 0.7em;
    text-align: justify;
    font-family:'Edu SA Beginner', cursive;
}

.resumo p a{
    text-decoration: none;
    color: #2f3542;
}

.resumo p a:hover{
    cursor: pointer;
    color:#70a1ff;
}

.content {
    width: 59%;
    font-size: 2em;
    float: left;
    height: 930px;
    float: right;
    background-color: #f1f2f6;

}
 
.title h3{
    color: #70a1ff;
}
.content h3{
    margin-left: 30px;
    font-size: 1.5em;
    
}

.left-block {
    width: 45%;
    height: 45%;
    float: left;
    background-color:#ced6e0;
    margin-top: 35.88px;
    margin-left: 40px;
    text-align: center;
    color:#57606f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;


}

.rigth-block {
    width: 45%;
    height: 45%;
    float: right;
    background-color: #ced6e0;
    margin-top: 35.88px;
    margin-right: 40px;
    text-align: center;
    color:#57606f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2%;
}

.rigth-block:hover,
.left-block:hover {
    background-color: #ff6b81;
    cursor: pointer;
    color:#70a1ff;

}

#habilidades img {
    width: 45%
    
}

#formacao-experiencia img {
    width: 35%
}

#portifolio img {
    width: 45%
}

#contato img {
    width: 45%
}

#container {
    background: none;
}

.menu{
    width: 100%;
    height: 20px;
}

.menu ul{
    float: right;
    list-style: none;
    border: solid 2px #ff4757;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
   
}

.menu ul li{
    color: white;
    display: inline;
    margin-right: 2em;
    font-size: 0.6em !important;
    cursor: pointer;
}

.menu ul li a{
    text-decoration: none;
    color: #ff4757;
}

.menu ul li a:hover{
    color: #70a1ff;
}

#email, #linkedin{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    height: 250px;
    color: #2f3542;
    
}

#email p{
    color:#ff4757;
}

#email img, #linkedin img{
    width: 70px;
    
}

#linkedin p a{
    text-decoration: none;
    color: #ff4757;
    cursor: pointer;
}

#linkedin p a:hover{
    color: #70a1ff;
    
}
#formacao, #experiencia {
    font-family: 'Raleway', sans-serif;
    height: 270px;
    color: #2f3542;
    /* margin-top: 120px; */
    margin-bottom: 120px;
}

#formacao ul li{
    margin: 0;
	padding: 36px 0 36px 84px;
	list-style: none;
	background-image: url(./img/book.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
    font-size: 25px;
}

#body-portifolio{
    width: 100%;
    
}

#screenshot-css-html, #screenshot-css-html2 {
    width: 45%;
    height: 300px;
    float: left;
    padding-left: 1em;
}

#screenshot-css-html img{
    width: 100%;
}

#screenshot-css-html2 img{
    width: 100%;
    
}

#screenshot-css-html p, #screenshot-css-html2 p{
    font-size: 15px
}



